{% extends 'layout.njk' %}

{% block head %}
  <title>Conteúdos - Gabriel Araujo</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
  <!-- <div id="wrapper"> <h1>Conteúdos</h1> </div> -->

  <section class="cards cards-conteudo">

    {% for item in items %}
      <div class="card card-conteudo" id="{{item.id}}">
        <div class="card__img-container-conteudo">
          <img src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/{{item.img_url}}" alt="Logo Starter">
          <iframe src="https://www.youtube.com/embed/{{item.id}}" frameborder="0"></iframe>
        </div>
        <div class="card__content card__content-conteudo">
          <p>{{item.title}}</p>
        </div>
        <div class="card__info card__info-conteudo">
          <p>{{item.modules}}</p>
          <p class="card__price">{{item.price}}</p>
        </div>
      </div>
    {% endfor %}

    <div class="modal-overlay">
      <div class="modal">
        <a class="close-modal">
          <i class="material-icons">close</i>
        </a>

        <a class="maximize-modal">
          <i class="material-icons">crop_free</i>
        </a>

        <div class="modal-content">
          <iframe src="" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </section>

  <script src="/scripts.js"></script>
{% endblock %}